@{
    ViewData["Title"] = "Home Page";
}
 <div id="baner">
                <div id="baner-left">
                    <div id="baner-title">
                        Aplikacja Do Nauki Języków Obcych
                    </div>
                    <div id="baner-content">
                        Wyznaczaj sobie cele możliwe do zrealizowania. <br/> Rób zauważalne postępy. <br/> Otwórz przed sobą świat nowych możliwości, ucząc się języka.
                    </div>
                </div>
                <div id="baner-right">
                    <img id="obrazek" src="~/img/baner-start.jpg"/>
                </div>
            </div>
             
            <div id="mid">
                <div class="row">
                    <div class="row-text">
                    <div class="tyt">
                        Ucz się skutecznie
                       
                    </div>
                         <hr/>
                        <div class="zaw">
             
                Ucz się, korzystając z planu nauki i zapamiętuj trudniejsze słowa dzięki naszej inteligentnej technologii, która podpowie Ci, co i kiedy należy powtórzyć. 
                        Poznawaj język w sprzyjającym momencie dzięki tej aplikacji.
                        </div>
                    </div>
              
                  
                        <img class="row-img" src="~/img/row1.jpg"/>
                  </div>

                    <div class="row">
                   
                       <img class="row-img" src="~/img/row2.jpeg"/>

                      <div class="row-text">
                     <div class="tyt">
                         Ucz się we własnym tempie
                       
                    </div>
                         <hr/>
                        <div class="zaw">
                        Ucz się, kiedy Ci to odpowiada i zapamiętuj więcej dzięki krótkim lekcjom opracowanym przez specjalistów językowych. 
                            Rób postępy, a zdobytą wiedzę potwierdzaj certyfikatami.
                        </div>
                    </div>
                    
                 
    </div>
          
       