@model IEnumerable<Assignment>
@{
    ViewBag.Tittle = "Assignments";

}

<div class="kursy-container">

        <span class="create-button">
            <a   asp-controller="Lesson" asp-action="Create">+</a>
            </span>
    <table class="tabela-kursy">
        <thead>
            
            <tr>
            
                
                    <th>Course Name</th>
                   
            </tr>
        </thead>
        <tbody>
          @foreach(var item in Model)
            {
                <tr>
                <td>
                    @item.AssignmentText
                </td>

                 <td>
                        @foreach(var meti in item.answers)
                        {
                            @meti.TextAnswer
                        }
                    </td>
              </tr>
                
            }

        </tbody>
    </table>

   
    
</div>