@model ENG_learning_website.Models.Lesson
@{
    ViewData["Title"] = "Create";
}

<p class="create-kurs">CREATE LESSON</p>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="kurs-tworzenie-zawartosc">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
            <div class="nazwa-kurs">
                <label asp-for="Name"></label>
            </div>
            <div class="nazwa-kurs5">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
            <div class="nazwa-kurs">
                <label asp-for="NoobsHolder"></label>
            </div>
            <div class="nazwa-kurs5">
                <input asp-for="NoobsHolder"  min="1" max="5" class="form-control"  />
            </div>
            <span asp-validation-for="NoobsHolder" class="text-danger"></span>
            <div>
                <label asp-for="CourseId"></label>

            </div>
            <div>
                <select asp-for="CourseId" asp-items="ViewBag.Courses"></select>
            </div>
            <input asp-action="Index" asp-controller="Course" type="submit"  class="button-kurs" value="Back to List" />
            @Html.AntiForgeryToken()
            <input type="submit" class="button-kurs" value="Create" />
        </div>
</form>