@model Lesson

@{
    ViewData["Title"] = "Details of the actor";
}
<div class="lekcja-ogolny">
<form asp-action="Details" method="post" enctype="multipart/form-data">
   
    <h1 asp-for=Name></h1>
</form>
</div>