@model IEnumerable<ENG_learning_website.Models.Lesson>
@{
    ViewData["Title"] = "Lesson";
}

<div class="kursy-container">

       @if(!(ViewBag.Clients==null))
           {
                   <span class="create-button">
            <a   asp-controller="Lesson" asp-action="Create">+</a>
            </span>
              
            }
            else
            {
             <a asp-area=""  asp-controller="CheckOut" asp-action="Index">
                    <label>platnosc nie powiodla sie Sproboj ponownie</label>
                </a>
            }
      
    <table class="tabela-kursy">
        <thead>
            
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                
                    <th>Course Name</th>
            
                   
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td >
                   @item.Name

                </td>
                
                 <td >
                   @item.Course.Name

                </td>
            </tr>
            }
        </tbody>
    </table>

   
    
</div>