@model ENG_learning_website.Models.Course
@{
    ViewData["Title"] = "Create";
}

<p class="create-kurs">CREATE COURSE</p>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="kurs-tworzenie-zawartosc">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
            <div class="nazwa-kurs">
                <label asp-for="Name"></label>
            </div>
            <div class="nazwa-kurs5">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
            <div class="nazwa-kurs">
                <label asp-for="Difficulty"></label>
            </div>
            <div class="nazwa-kurs5">
                <input asp-for="Difficulty" class="form-control" maxValue=10 />
            </div>
            <span asp-validation-for="Difficulty" class="text-danger"></span>
            <input asp-action="Index" type="submit"  class="button-kurs" value="Back to List" />
            @Html.AntiForgeryToken()
            <input type="submit" class="button-kurs" value="Create" />
        </div>
</form>