@model ENG_learning_website.Models.Course
@{
    ViewData["Title"] = "Details";
}

<div class="kursy-container">
             @if(!(ViewBag.Clients==null))    @* to jest if do pokazywania czy ktos ma suba *@
           {
               <span class="create-button">
            <a   asp-controller="Lesson" asp-action="Create">+</a>
            </span>
            }
            else
            {

                <label>chuj2</label>
            }
       
    <table class="tabela-kursy">
        <thead>
            
            <tr>
                <th>LESSON</th>
                
                <th></th>
                   
            </tr>
        </thead>
        <tbody>
     

             @if(Model.Lessons!=null)
                {
                
             @foreach(var item in Model.Lessons)
            {

            <tr>
                <td >
                   
                   @item.Name

                </td>
            
                <td>
                 
                    <a class="btn btn-primary" asp-route-id="@item.Id" asp-controller="Assignment" asp-action="Index">detale</a>
                </td>
            </tr>
            }
                }

        </tbody>
    </table>
    </div>
  