@model IEnumerable<Course>
@{
    ViewData["Title"] = "Course";
}

<div class="kursy-container">

        <span class="create-button">
            <a   asp-controller="Course" asp-action="Create">+</a>
            </span>
    <table class="tabela-kursy">
        <thead>
            
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                   <th>@Html.DisplayNameFor(model => model.Difficulty)</th>
                    <th> EXERCISE</th>
                   
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td >
                   @item.Name

                </td>
                 <td >
                   @item.Difficulty

                </td>
                <td>
                    <a asp-area="" asp-controller="zad1" asp-action="Index" > &nbsp;&nbsp; &#9655; &nbsp;&nbsp; </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    
</div>