<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ENG_learning_website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ENG_learning_website.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
     <link rel="stylesheet" href="~/css/logowanie.css" asp-append-version="true"/>
</head>
<body>
    <header>
        <div id="topbar">
            <div id="topbar-logo">
                <a asp-area=""  asp-controller="Home" asp-action="Index">
                    <img class="logo" src="~/img/logo.jpg"/>
                </a>
                    </div>
            <div id="topbar-button">
                  <a asp-area=""  asp-controller="Home"  asp-action="Index">
                <div class="topbar-button-button">
                  HOME
                </div>
                       </a>
                <a asp-area=""  asp-controller="Course" asp-action="Index">
                 <div class="topbar-button-button">
                    COURSES
                </div>
                 </a>
            </div>
           
            <div id="topbar-login">
                  <partial name="_LoginPartial.cshtml"/>
            </divid="topbar-login">


    <!--         <div id="topbar-login">
                <div class="topbar-button-login">
                    REGISTER
                </div>
                 <div class="topbar-button-login">
                    LOGIN
                </div>
            </div> -->

        </div>
    </header>
  <!-- <div class="container"> -->
        <main role="main" class="pb-3">
            @RenderBody()
           
        </main>
  <!--  </div> -->

    <footer class="border-top footer text-muted">
        <div id="footer">
            &copy; 2022 - Aplikacja Do Nauki Jezyków - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
