@using Microsoft.Extensions.Options
@inject IOptions<ENG_learning_website.Data.StripeConfig> Stripe
@{
    Layout = "_Layout";
}
<div class="kursy-container">

       @if(!(ViewBag.Clients==null))
           {
            <div class="text-center">

           <a asp-area=""  asp-controller="Home" asp-action="Index">
                    <label class="zloty-napis">
                       POSIADASZ JUZ KONTO PREMIUM! kliknij aby wrocic</label>
                </a>
                </div>
                 
              
            }
            else
            {
                <form asp-action="Processing" asp-controller="Checkout" method="post">
      
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-amount="100"
                data-name="[Deveducate]"
                data-description="Payments"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="en"
                data-zip-code="true">
        </script>
    </form>

            }

            <div>
                @ViewBag.Clients
            </div>
   

</div>